/* Stack canvases on top of each other */
.canvas-wrapper {
  position: relative;
  width: 800px;
  height: 600px;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden; /* Keep cursors inside */
}

.main-canvas, .active-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.active-canvas {
  z-index: 10;
  cursor: crosshair;
}

/* Remote Cursor Styling */
.remote-cursor {
  position: absolute;
  pointer-events: none; /* Don't block clicking the canvas */
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.1s linear; /* Smooths cursor movement */
}

.cursor-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid white;
}

.cursor-label {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #170e59;
  min-height: 100vh;
}

.toolbar {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  align-items: center;
}

.undo-btn {
  background: #ff4757;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.undo-btn:hover {
  background: #ff6b81;
}

.tool-btn1 {
  background-color: rgb(40, 185, 247);
  border-width: 0px;
  margin-right: 5px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
.tool-btn {
  background-color: rgb(243, 11, 119);
  border-width: 0px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.redo-btn {
  background: #2ed573;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 5px;
}

.redo-btn:hover {
  background: #7bed9f;
}